<div class="flex col xl-gap center middle view">

	{{#if again}}
	<div class="c-text l-text w-2 title">Let's <b>try</b> that<br><b><i>again</i></b>...</div>
	{{else}}
	<div class="c-text l-text w-2 title"><b>GenreGuru</b> wants<br>to <i>hear a song</i></div>
	{{/if}}

	<div class="flex col middle">

		<button class="flex col center" name="listen" onclick="init()">
			<img style="white-space: pre-line" src="/assets/logos/genre-guru-logo.png" alt="Listen">
		</button>

		<div class="xl-text arrow">⬆</div>
		<div class="guru-message">PRESS THIS BUTTON</div>

	</div>

	<div id="label-container"></div>

</div>