<div class="flex col view">

    <form action="/questions" method="post">
        <div class="question-container">
            <h2>Who is known as the "King of Pop"?</h2>

            <div class="options-container">
                <div class="option">
                    <input type="radio" name="answer" id="optionA" value="A">
                    <label for="optionA">A) Elvis Presley</label>
                </div>
                <div class="option">
                    <input type="radio" name="answer" id="optionB" value="B">
                    <label for="optionB">B) Michael Jackson</label>
                </div>
                <div class="option">
                    <input type="radio" name="answer" id="optionC" value="C">
                    <label for="optionC">C) Madonna</label>
                </div>
                <div class="option">
                    <input type="radio" name="answer" id="optionD" value="D">
                    <label for="optionD">D) Whitney Houston</label>
                </div>
            </div>

            <button class="submit-btn" onclick="submitAnswer()">Submit Answer</button>
        </div>
    </form>

</div>