:root {
	--nav-height: 3em;
	font-size: 16px;
}

* {
	outline: none;
	border: none;

	padding: 0;
	margin: 0;
	box-sizing: border-box;

	text-decoration: none;
	list-style: none;
}

html {
	height: 100vh;
	width: 100vw;
}

body {
	height: 100%;
	width: 100%;
	/* overflow: hidden; */
}

nav {
	height: var(--nav-height);
	background: red;
}

button {
	border-radius: 50%;
	padding: 0.5em 1em;
}

img {
	max-height: 100%;
	max-width: 100%;
}

.listen-button {
	width: 15em;
	height: 15em;
}

.view {
	height: calc(100% - var(--nav-height));
	width: 100%;
}

.w-1 {
	width: 100%;
}

.w-2 {
	width: 50%;
}

.flex {
	display: flex;
}

.col {
	flex-direction: column;
}

.wrap {
	flex-wrap: wrap;
}

.center {
	justify-content: center;
}

.middle {
	align-items: center;
}

.middle-self {
	align-self: center;
}

.xl-gap {
	gap: 4em;
}

.gap {
	gap: 0.5em;
}

.gap>.gap {
	gap: 1em;
}

.gap>.gap>.gap {
	gap: 2em;
}

.gap>.gap>.gap>.gap {
	gap: 4em;
}